html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.outer-container {
    background-image: url(image/wp6946084.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.inner-container {
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    
    align-items: center;
    justify-content: center;
}
    